name: Release Build

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Upload assets to release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            setup.sh
